.app__container {
  text-align: center;
  margin: 1em auto;
  padding: 1em 2em;
  // background: $white;
  color: $white;
}

.app__main-heading {
  font-size: 2.5em;
}

.app__secondary-heading {
  font-size: 1.5em;
}
